<!DOCTYPE html>
<html>
  <head>
    <title>AudioHive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
        integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        
    <%= stylesheet_link_tag   'application', media: 'all' %>
  
    <%= javascript_include_tag 'application'%>
    <script src="https://unpkg.com/wavesurfer.js"></script>

  </head>

  <body>

    <script type="text/javascript">
        window.soundcloud = "<%= image_url("soundcloud.png") %>";
        window.create = "<%= image_url("create.png") %>";
        window.login = "<%= image_url("login.png") %>";
        window.header1 = "<%= image_url("header1.jpg") %>";
        window.header2 = "<%= image_url("header2.jpg") %>";
        window.mini = "<%= image_url("miniSoundcloud.png") %>";
        window.github = "<%= image_url("GitHubHive.png") %>";
        window.icon= "<%= image_url("audioHiveIcon.png") %>";
        window.hiveButton= "<%= image_url("hivebutton.svg") %>";
        window.hivePause= "<%= image_url("hivePause.svg") %>";
        window.pause= "<%= image_url("pause.svg") %>";
        window.play= "<%= image_url("play.svg") %>";
        window.right= "<%= image_url("right.svg") %>";
        window.left= "<%= image_url("left.svg") %>";
        window.in= "<%= image_url("infi.svg") %>";
        window.image= "<%= image_url("imageStock.png") %>";
        
    </script>
    <%= yield %>
  </body>
</html>
