<!DOCTYPE html>
<html>
  <head>
    <title>AudioHive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag   'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
        window.soundcloud = "<%= image_url("soundcloud.png") %>";
        window.create = "<%= image_url("create.png") %>";
        window.login = "<%= image_url("login.pgn") %>";
        window.header1 = "<%= image_url("header1.jpg") %>";
        window.header2 = "<%= image_url("header2.jpg") %>";
        window.mini = "<%= image_url("miniSoundcloud.png") %>";

    </script>
    <%= yield %>
  </body>
</html>
